@font-face {
  font-family: "Futura";
  src: url("./fonts/FuturaPTMedium.otf") format("opentype");
}

@font-face {
  font-family: "Futura Book";
  src: url("./fonts/FuturaPTBook.otf") format("opentype");
}