/* This file writes over css provided in the carousel package */

.tns-nav {
  display: flex;
  justify-content: center;
  z-index: 2;
}

/* .tns-nav > button {
  height: 15px;
  width: 15px;
  margin: 0 4px;
  border: none;
  border-radius: 50%;

  background-color: #001049;
} */

.tns-nav-active {
  background-color: #546bdf !important;
}

.tns-item {
  padding: 0 50px;
}

@media only screen and (max-width: 767px) {
  .tns-item {
    padding: 0 16px;
  }
}
